body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #4F5A64;
	color: #C0C0C0;
}

a {
	color: #FFFFFF;
}

.logo {
	width: 128px;
	height: 128px;
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
}

.logo:hover {
	opacity: 0.5;
}

.content {
	max-width: 800px;
	font-size: 16px;
	margin: auto;
	clear: both;
}

.block {
	padding: 10px;
	margin-top: 10px;
	border-style: solid;
	border-color: #C0C0C0;
	border-width: 1px;
}

.note {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: yellow;
}

.screenshots {
	width: 300px;
	right: 50px;
	top: 400px;
	margin: auto;
	padding-left: 500px;
	padding-top: 100px;
	background-image: url(desktop.png);
	background-size: 700px;
	background-repeat: no-repeat;
}
